<div id="risk-plots" class="col-span-2">
  <%=
    sum_of_count = estimate.scenario_bin.sum(:count)

    Vega.lite
    .data({values: estimate.scenario_bin.select(:value, :count)})
    .mark(type: "bar", tooltip: true)
    .transform([
      {
        calculate: "(datum.count / #{sum_of_count}) * 100",
        as: "percentOfCount"
      }
    ])
    .encoding(
      x: {
        field: "value",
        type: "quantitative",
        title: "Risk",
        scale: {
          type: "linear",
          domainMin: 0
        }
      },
      y: {
        field: "percentOfCount",
        type: "quantitative",
        title: "Percent of Scenarios",
        scale: {
          type: "linear"
        }
      }
    )
  %>
</div>