<div id="risk-plots">
  <%=
    Vega.lite
    .data(@sampled_scenarios)
    .width(1000)
    .height(600)
    .mark(type: "bar", tooltip: true)
    .encoding(
      x: {
        field: "value",
        type: "quantitative",
        title: "Risk",
      },
      y: {
        field: "count",
        type: "quantitative",
        title: "Number of Scenarios",
      }
    )
  %>
</div>