<div id="estimate-plots">
<div id="magnitude-possibilities-plot">
  <%=
    Vega.lite
    .layer([
      {
        data: {
          values: project.magnitude_possibilities
        },
        mark: {
          type: "area",
          tooltip: true,
          interpolate: "step-after"
        },
        encoding: {
          x: {
            field: "magnitude",
            type: "quantitative",
            title: "Magnitude",
          },
          y: {
            field: "count",
            type: "quantitative",
            title: "Count",
          }
        }
      },
      {
        data: {
          values: project.likely_magnitude_densities
        },
        mark: {
          type: "bar",
          tooltip: true,
          color: "red",
          width: {
            band: 0.2
          }
        },
        encoding: {
          x: {
            field: "magnitude",
            type: "quantitative"
          },
          y: {
            field: "count",
            type: "quantitative",
          }
        }
      }
    ])

  %>
  </div>
  <div id="magnitude-plot">
  <%=
    Vega.lite
    .data({values: project.estimates})
    .layer([
      {
        mark: {
          type: "errorbar",
          tooltip: true,
          ticks: "black"
        },
        encoding: {
          x: {
            field: "min_magnitude",
            type: "quantitative",
            title: "Magnitude",

          },
          x2: {
            field: "max_magnitude",
          },
          y: {
            field: "expert_id",
            type: "nominal",
            title: "Expert",
          }
        }
      },
      {
        mark: {
          type: "point",
          tooltip: true,
          filled: true,
          size: 60,
          color: "red"
        },
        encoding: {
          x: {
            field: "likely_magnitude",
            type: "quantitative",

          },
          y: {
            field: "expert_id",
            type: "nominal"
          }
        }
      }
    ])
  %>
  </div>
  <div id="frequency-plot">
  <%=
    Vega.lite
    .data({values: project.estimates})
    .layer([
      {
        mark: {
          type: "errorbar",
          tooltip: true,
          ticks: "black"
        },
        encoding: {
          x: {
            field: "min_frequency",
            type: "quantitative",
            title: "Frequency",

          },
          x2: {
            field: "max_frequency",
          },
          y: {
            field: "expert_id",
            type: "nominal",
            title: "Expert",
          }
        }
      },
      {
        mark: {
          type: "point",
          tooltip: true,
          filled: true,
          size: 60,
          color: "red"
        },
        encoding: {
          x: {
            field: "likely_frequency",
            type: "quantitative",

          },
          y: {
            field: "expert_id",
            type: "nominal"
          }
        }
      }
    ])
  %>
  </div>
</div>