<div id="estimate-plots" class="my-10 grid grid-cols-3 grid-rows-2 gap-2 items-center">
  <div id="average-risks-plot" class="col-span-3">
  <%=
    Vega.lite
    .layer([
      {
        data: {
          values: project.average_distribution
        },
        mark: {
          type: "bar",
          tooltip: true
        },
        encoding: {
          x: {
            field: "value",
            type: "quantitative"
          },
          y: {
            field: "count",
            type: "quantitative"
          },
          color: {
            field: "estimate_id"
          }
        }
      },
      {
        data: {
          values: [{mean_risk: project.average_of_risk_modes}]
        },
        mark: {
          type: "rule",
          tooltip: true,
          color: "red",
          width: {
            band: 1.5
          }
        },
        encoding: {
          x: {
            field: "mean_risk",
            type: "quantitative"
          }
        }
      }
    ])
  %>
  </div>
  <div id="risk-possibilities-plot">
  <%=
    Vega.lite
    .height(120)
    .layer([
      {
        data: {
          values: project.risk_possibilities
        },
        mark: {
          type: "area",
          tooltip: true,
          interpolate: "step-after"
        },
        encoding: {
          x: {
            field: "risk",
            type: "quantitative",
            title: "Risk",
            scale: {
              domainMin: 0,
            },
            axis: {
              grid: false
            }
          },
          y: {
            field: "count",
            type: "quantitative",
            title: "Possible",
            axis: {
              tickMinStep: 1
            },
          }
        }
      },
      {
        data: {
          values: project.modal_risk_densities
        },
        mark: {
          type: "rule",
          tooltip: true,
          color: "red",
          width: {
            band: 0.1
          }
        },
        encoding: {
          x: {
            field: "risk",
            type: "quantitative"
          }
        }
      }
    ])
  %>
  </div>
  <div id="magnitude-plot" class="mx-2">
  <%=
    Vega.lite
    .data({values: project.estimates})
    .height(120)
    .layer([
      {
        mark: {
          type: "errorbar",
          tooltip: true,
          ticks: "black"
        },
        encoding: {
          x: {
            field: "min_magnitude",
            type: "quantitative",
            title: "Magnitude",

          },
          x2: {
            field: "max_magnitude",
          },
          y: {
            field: "expert_id",
            type: "nominal",
            title: "Expert",
          }
        }
      },
      {
        mark: {
          type: "point",
          tooltip: true,
          filled: true,
          size: 60,
          color: "red"
        },
        encoding: {
          x: {
            field: "likely_magnitude",
            type: "quantitative",

          },
          y: {
            field: "expert_id",
            type: "nominal",
            title: "Expert"
          }
        }
      }
    ])
  %>
  </div>
  <div id="frequency-plot" class="mx-2">
  <%=
    Vega.lite
    .data({values: project.estimates})
    .height(120)
    .layer([
      {
        mark: {
          type: "errorbar",
          tooltip: true,
          ticks: "black"
        },
        encoding: {
          x: {
            field: "min_frequency",
            type: "quantitative",
            title: "Frequency",

          },
          x2: {
            field: "max_frequency",
          },
          y: {
            field: "expert_id",
            type: "nominal",
            title: "Expert",
          }
        }
      },
      {
        mark: {
          type: "point",
          tooltip: true,
          filled: true,
          size: 60,
          color: "red"
        },
        encoding: {
          x: {
            field: "likely_frequency",
            type: "quantitative",

          },
          y: {
            field: "expert_id",
            type: "nominal",
            title: "Expert"
          }
        }
      }
    ])
  %>
  </div>
</div>