<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing project</h1>

  <%= render "form", project: @project %>

  <%= link_to "Show this project", @project, class: "btn" %>
  <%= link_to "Back to projects", projects_path, class: "btn" %>
</div>
