<div id="<%= dom_id expert %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= expert.name %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this expert", expert, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this expert', edit_expert_path(expert), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
