<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing expert</h1>

  <%= render "form", expert: @expert %>

  <%= link_to "Show this expert", @expert, class: "btn" %>
  <%= link_to "Back to experts", experts_path, class: "btn" %>
</div>
