<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Experts</h1>
    <%= link_to 'New expert', new_expert_path, class: "btn btn-secondary" %>
  </div>

  <div id="experts" class="min-w-full">
    <%= render @experts %>
  </div>
</div>
